.header{
    background: linear-gradient(180deg, #0C0E14 0%, #1C212D 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0.5em;
    gap: 1.5em;
}

.header-logo{
    max-width: 150px;
    margin-bottom: 1em;
}

.header h1{
    color: var(--white);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.header-cars{
    max-width: 100%;
}

.header p{
    color: var(--white);
    font-size: 1.3em;
    text-align: center;
}

.header a {
    background-color: var(--red);
    border-radius: 10px;
    color: var(--white);
    margin-top: 1em;
    padding: 0.5em 2.2em;
    margin-bottom: 1em;
    transition: 0.2s;
}

.header a:hover{
    background-color: rgb(199, 3, 3);
}

@media screen and (min-width: 768px) {
    .header a{
        font-size: 1.3em;
    }
    .header p{
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .header p{
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .header p{
        width: 60%;
    }
}