.protecao{
    align-items: center;
    background: linear-gradient(180deg, #0C0E14 0%, #1C212D 100%);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1.5em 0.5em;
}

.protecao h2{
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin-top: 1em;
}

.protecao section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.protecao-card{
    align-items: center;
    border: 1px solid var(--red);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    justify-self: center;
    padding: 1em;
    text-align: center;
    max-width: 400px;
}

.protecao-card img{
    max-width: 70%;
}

.protecao-card h3{
    font-size: 1.5em;
    font-weight: 600;
}

.protecao-card p{
    font-size: 1em;
    line-height: 1.2em;
}

@media screen and (min-width: 1024px) {
    .protecao section{
        grid-template-columns: repeat(3, 1fr);;
    }
}